<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item"><a class="link" href="/">Home</a></li>
      <li class="main-header__item"><a class="link" href="/popular">Popular</a></li>
      <li class="main-header__item"><a class="link" href="/new">New Arrivals</a></li>
      <li class="main-header__item"><a class="link" href="/favourites">Favourites</a></li>
      <li class="main-header__item"><a class="link" href="/add-book">Add Book</a></li>
    </ul>
  </nav>
</header>