<h1 class="page-title">Favourite</h1>


<div class="books-container">
  <% favBooks.forEach(book=> { %>
    <div class="book-info">
      <h3 class="book-title">
        <%- book.title %>
      </h3>

      <h2 class="book-price">
        <%- book.price %> Rs.
      </h2>

      <p class="book-description">
        <%- book.description %>
      </p>

      <form action="/remove-favourite" method="POST">
        <input style="display: none;" name="bookId" value=<%- book.id %> >
        <button class="add-fav" type="submit">Remove</button>
      </form>

    </div>
    <% }) %>
</div>